
APP_NAME=
NODE_ENV=development
SERVICE=monolith
FASTIFY_LOG_LEVEL=INFO
FASTIFY_PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_CLUSTER=false

